<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu"> -->
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <title>Amazon Helper</title>
</head>
<body>
    <div id="welcome">
        <h2>Welcome to Amazon <span style="color:orange;">Helper</span></h2>
        <a href="https://www.amazon.co.uk/" target="_blank">Go to Amazon-UK</a>
    </div>

    <div id="addProduct">
        
    </div>
</body>
</html>