<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="../css/popup.css" type="text/css">
    <title>Amazon Helper</title>
</head>
<body>
    <div id="welcome">
        <h2>Amazon <span style="color:orange;">Helper</span></h2>
        <ul>
            <!-- <li><img src="../images/mechanism.svg" alt="mechanism icon" width="30px"></li> -->
            <li><button id="shortcutsBtn"><img src="../images/teleportation.svg" alt="teleportation icon" width="30px"></button></li>
            <li><button id="basketBtn"><img src="../images/shopping-cart.svg" alt="shopping cart icon" width="30px"></button></li>
            <li><button id="friendshipBtn"><img src="../images/friendship.svg" alt="shopping cart icon" width="30px"></button></li>
        </ul>
    </div>

    <div id="shortcuts">
        <h2>Shortcuts</h2>
        <ul>
            <li><a href="https://www.amazon.co.uk/" target="_blank"><img src="../images/united-kingdom.svg" alt="amazon.co.uk" width="60px"></a></li>
            <li><a href="https://www.amazon.fr/" target="_blank"><img src="../images/france.svg" alt="amazon.fr" width="60px"></a></li>
            <li><a href="https://www.amazon.it/" target="_blank"><img src="../images/italy.svg" alt="amazon.it" width="60px"></a></li>
            <li><a href="https://www.amazon.de/" target="_blank"><img src="../images/germany.svg" alt="amazon.de" width="60px"></a></li>
        </ul>
    </div>

    <div id="collection" style="display: none">
        <h2>Basket</h2>
        <button id="share"><h3>Share Basket</h3></button>
        <button id="friendsBasket"><h3>Friends Basket</h3></button>
        <button id="clear"><h3>Clear Basket</h3></button>
        <div class="listPrice">
            <p>Total Price of Basket</p>
            <ul>
                <li id="usaPrice">$0.00</li>
                <li id="ukPrice">£0.00</li>
                <li id="eurPrice">€0.00</li>
            </ul>
        </div>
    </div>

    <div id="friends" style="display: none">
        <h2>Enter Your Friends URL</h2>
        <input type="text" id="url" value ="" size=20> 
        <input type="submit" value="Submit" id="friendsSubmit">  
        <div class="listPrice">
            <p>Total Price of Basket</p>
            <ul>
                <li id="usaPriceFriends">$0.00</li>
                <li id="ukPriceFriends">£0.00</li>
                <li id="eurPriceFriends">€0.00</li>
            </ul>
        </div>
    </div>

    <script src="../js/popup.js"></script>
    <script src="../js/price.js"></script>
</body>
</html>

