#collection-amazonHelper, #priceInEuro {
    letter-spacing: 1px;
    text-align: center;
    background: rgb(29, 29, 29);
    color: #F0E68C;
    font-size: 17px;
}

#collection-amazonHelper button {
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border: 1px solid #F0E68C;
    border-radius: 2px;
    color: #F0E68C;
    padding: 10px;
    margin: 10px;
    transition: .1s ease-in-out;
}

#collection-amazonHelper button:hover {
    transform: scale(1.1);
}

#slideDown {
    color: rgb(29, 29, 29);
    background: lightgreen;
    padding: 10px;
}