body {
    font-family: 'Ubuntu';
    background: rgb(29, 29, 29);
    margin: 0;
    text-align: center;
    width: 302px;
}

#welcome {
    padding: 10px;
    width: 300px;
    color: white;
    background: rgb(60, 60, 60);
}

#welcome h2 {
    color: white;
    margin: 0;
}

h2 {
    color: #F0E68C;
}

ul {
    padding: 0;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 5px;
    transition: ease-in-out;
}

ul li:hover {
    transform: scale(1.2);
}

button  {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

/* Product */

.productInfo {
    height: 100px;
    width: 300px;
    display: block;
    margin: 10px 0;
    background: rgb(60, 60, 60);
    color: white;
}

.productInfo .containerImg {
    width: 120px;
    height: 100px;
    float: left;
}

.productInfo .containerImg img {
    height: 100px;
}

.productInfo .containerInfo {
    width: 180px;
    height: 100px;
    float: left;
    position: relative;
}

.productInfo .containerInfo img {
    margin: 0 5px 0 0;
    float: right;
    transition: 3ms ease-in-out;
    position: absolute;
    right: 0px;
    bottom: 6px;
}

.productInfo .containerInfo img:hover {
    transform: scale(1.2);
}

.productInfo p {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    word-wrap: break-word;
    display: inline-block;
}

.productImg {
    width: 120px;
    height: 100px;
}

.productPrice {
    position: absolute;
    right: 60px; 
    bottom: 0px;
    color: #F0E68C;
}