body {
    font-family: 'Ubuntu';
    background: rgb(29, 29, 29);
    margin: 0;
    text-align: center;
}

#welcome {
    padding: 10px;
    width: 300px;
    color: white;
    background: rgb(60, 60, 60);
}

#welcome h2 {
    color: white;
    margin: 0;
}

h2 {
    color: #F0E68C;
}

ul {
    padding: 0;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 8px;
    transition: ease-in-out;
}

ul li:hover {
    transform: scale(1.2);
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}